<h2>All Historical Landmarks</h2>

<% @landmarks.each_with_index do |l, i| %>

<p>
  <a href="/landmarks/<%= l.id %>"><strong><%= i + 1 %>. <%= f.name %></strong></a>
</p>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
